# Django settings
# Generate a new secret key for production: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=django-insecure-6ck=mw17c(b6l$lm9-z@5qf*99*1zm(0q%cmosxz(i+0*f_58v
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
