.git
.gitignore
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.DS_Store
**/.DS_Store
*.egg-info
dist
build
.env
.env.*
*.log
.idea
.vscode

# Database
*.sqlite3
**/db.sqlite3
**/*.sqlite3

# Documentation
README.md
docs/

# Tests
tests/
**/tests/
**/*.test.py
